<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mediatek.dm"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon" android:label="@string/app_name">
	    <service android:name="com.mediatek.dm.DMRemoteService" android:label="DMRemoteService">
			<intent-filter>
				<action android:name="com.mediatek.dm.DMRemoteService" />
			</intent-filter>
		</service>	
    </application>
</manifest>